Repository forgebyd/sculptr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run typecheck, pnpm run biome.check, pnpm run biome.format

.lintstagedrc:

{
    "*.ts": ["pnpm run typecheck", "pnpm run biome.check"],
    "*.{js,json}": ["pnpm run biome.format"]
}

fix(lint-staged): change action to use biome.check 👷‍
  .lintstagedrc
Due: none

build(bundle): add tsdown support for bundling 📦
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: pnpm run typecheck, pnpm run biome.check, pnpm run biome.format

chore(license): add MIT license ⚖️
  LICENSE.md
Due: none

docs: add readme file 📖
  README.md
Due: none

docs(readme): fix alert styling 💄
  README.md
Due: none

build(lint): add publint support to lint package 👁️
  package.json
  pnpm-lock.yaml
Due: pnpm run biome.format

chore(vscode): add word to cspell for bypassing 🔨
  .vscode/settings.json
Due: pnpm run biome.format

build: add tsx and types node 📦
  package.json
  pnpm-lock.yaml
Due: pnpm run biome.format

style(indentation): set default .j/ts indentation to 2 💄
  biome.json
  tsdown.config.ts
Due: pnpm run typecheck, pnpm run biome.check, pnpm run biome.format

build(script): add success message to typecheck script 📜
  package.json
Due: pnpm run biome.format

fix(lint-staged): error in type-checking ts files 🪛
  .lintstagedrc
Due: none

feat(cli): add package 'CLI' ✨
  packages/cli/package.json
  packages/cli/source/bootstrap.ts
  packages/cli/source/commands/list.ts
  packages/cli/source/commands/run.ts
  packages/cli/source/index.ts
  packages/cli/source/plugins/decorateHeader.ts
  packages/cli/source/plugins/decorateUsage.ts
  packages/cli/source/plugins/globalOptions.ts
  packages/cli/tsdown.config.ts
Due: pnpm run typecheck, pnpm run biome.check, pnpm run biome.format

fix(cli/bootstrap): fix bug on resolve directory relatively 🪛
  packages/cli/source/bootstrap.ts
  packages/cli/source/utils/resolver.ts
  packages/cli/tsdown.config.ts
Due: pnpm run typecheck, pnpm run biome.check

refactor(cli/commands): refactor typing on commands ✒️
  packages/cli/source/commands/list.ts
  packages/cli/source/commands/run.ts
Due: pnpm run typecheck, pnpm run biome.check

build(cli): register bin file to package.json 📦
  packages/cli/package.json
Due: pnpm run biome.format

style(cli): refactor to style codes 💄
  packages/cli/source/index.ts
Due: pnpm run typecheck, pnpm run biome.check
